[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"74bbbc3" = {editable = true, path = "./../ansible"}
mazer = {editable = true, path = "./../mazer"}
yamllint = "*"

[dev-packages]

[requires]
python_version = "3.6"
