.bash_history
queue.xml
.owner
.cache/
.java/
.ssh/
copy_reference_file.log
fingerprints/
identity.key.enc
init.groovy.d/
jenkins.install.InstallUtil.lastExecVersion
jenkins.install.UpgradeWizard.state
jobs/ansible.freestyle/builds/
jobs/ansible.freestyle/lastStable
jobs/ansible.freestyle/lastSuccessful
jobs/ansible.freestyle/nextBuildNumber
logs/
plugins/
queue.xml.bak
secret.key
secret.key.not-so-secret
secrets/
updates/
userContent/
users/
war/
workspace/
